<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <!-- Importo Vue.js -->
    <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>
    <!-- Importo Axios -->
    <script src="https://unpkg.com/axios@1.6.8/dist/axios.min.js"></script>
</head>

<body>

    <div id="app">
        <div class="container">
            <h1>{{ message }}</h1>
            <input type="text" v-model="userNumber" placeholder="Quante email vuoi generare ?">
            <button @click="generateEmail(userNumber)">Genera Email</button>
            <ul>
                <li v-for="elemento,i in generatedList">{{elemento}}</li>
            </ul>
        </div>

    </div>

    <script src="./js/main.js"></script>
</body>

</html>