<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <!-- Importo Vue.js -->
    <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>
    <!-- Importo Axios -->
    <script src="https://unpkg.com/axios@1.6.8/dist/axios.min.js"></script>
</head>

<body>

    <div id="app">
        <h1>GENERATORE DI ACCOUNT</h1>
        <input type="text" v-model="userNumber" placeholder="Quanti account vuoi generare ?">
        <button @click="generateAccount(userNumber)">Genera Account</button>
        <div class="container">

            <div class="generatore">
                <h2>{{ messageEmail }}</h2>
                <ul>
                    <li v-if="generatedEmailList.length == userNumber" v-for="elemento,i in generatedEmailList">{{elemento}}</li>
                </ul>
            </div>
            <div class="generatore">
                <h2>{{ messageName }}</h2>
                <ul>
                    <li v-if="generatedNameList.length == userNumber" v-for="element,i in generatedNameList">{{element}}</li>
                </ul>
            </div>
        </div>

    </div>

    <script src="./js/main.js"></script>
</body>

</html>